* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
    --roboto: 'Roboto', sans-serif;
    --poppins: 'Poppins', sans-serif;
  }

#home {
    background: var(--purple-bg);
}

header {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

header h1 {
    font-family: var(--poppins);
    font-size: 1.8rem;
}

header ul {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 17px;

    display: flex;
    list-style: none;
}

header ul  li {
    padding-right: 60px;
    cursor: pointer;
    padding-left: 5px;
    transition: 0.4s all;
}

header ul  li:hover {
    border-left: var(--green) 2px solid;
}

header ul  li:active {
    opacity: 0.7;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 3.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1.2s;
    
}

.line {
    visibility: hidden;
    width: 100%;
    background-color: white;
    height: .1rem;
    box-shadow: 0.1rem 0.1rem 1px black ;
} 

.sidebar li {
    width: 90%;
    border-bottom: 1px solid rgb(75, 64, 64);
}

.search {
    width: 280px;
    height: 34px;
    display: flex;
    text-align: center;
}

.search input {
    font-family: var(--roboto);
    padding-left: 20px;

    background: var(--dark-bg);
    border-radius: 4px 0px 0px 4px;
    border: none;
    color: #fff;
    outline: none;
    width: 85%;
    
}

.box-icon-search {
    width: 15%;
    display: flex;
    align-items: center;
    text-align: center;
    height: 34px;       
    background: var(--button-bg);
    border-radius: 0px 4px 4px 0px;
}

.box-icon-search img {
    margin: 0 auto;
}

.main-home {
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.main-left {
    width: 40%;
}

.main-righ {
    width: 40%;
}

.main-right img {
    width: 100%;
}

.main-home h2 {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 210%;
    color: var(--button-bg)
}

.main-home p {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 110%;
    color: var(--light-purple);
    margin-top: 0.9rem;
}

.see-more button {
    background-color: var(--button-bg);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    font-family: var(--roboto);
    font-weight: 600;
    font-size: 16px;
    padding-left: 30px;
    cursor: pointer;
}

.see-more button:hover {
    opacity: 0.8
}

.see-more button:active {
    opacity: 0.5
}

#body {
    font-family: var(--poppins);
    background: #FBF6FF;
    margin-bottom: 3rem;
}

.body-top {
    margin-top: 2rem;
    width: 90vw;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 2rem auto 0 auto;
    flex-wrap: wrap;
}

.body-top-left {
    width: 570px;
}

.main img {
    height: 300px;
    margin: 0 auto;
}

.date {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 2rem;
}

.title-post {
    margin-top: 5px;
    color: var(--purple-bg);
    font-weight: 700;
    font-size: 24px;
}

.description-posts {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
}

.body-top-right {
    width: 500px;
}

.main-post p {
    font-size: 16px;
    font-weight: 500;
}

.posts {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 2rem auto 0 auto;
    justify-content: center;
    gap: 2rem;
}

.box-posts-right {
    padding-bottom: 20px;
    border-bottom: #F2E7FA 1px solid;

}

.box-post{
    width: 370px;
}

.box-post img {
    width: 100%;
    height: 260px;
}

@media only screen and (max-width: 930px) and (min-width: 700px) {
    header ul li {
        padding-right: 30px;
    }

    .search {
        width: 150px;
    }
}

@media only screen and (max-width: 700px) {
    .line {
        visibility: visible;
    }

    header {
        flex-direction: column;
        justify-content: center;
    }

    .search {
        width: 300px;
        margin-top: 1rem;
    }

    header ul {
        display: none;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 900px){
    .main-right {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .main-left {
        width: 90%;
    }
}

@media only screen and (max-width: 680px) {
    img {
        max-width: 350px;
    }

    .box-post {
       text-align: center;
    }

    .main-home h2 {
        font-size: 2rem;
    }

    .main-home button {
        margin: 2rem auto 0 auto;
    }
}

@media only screen and (max-width: 430px) {
    .main-home h2 {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .main-home p {
        font-size: 0.9rem;
    }

    .search {
        width: 200px;
        margin-top: 1rem;
    }
}